# Node
node_modules/
dist/
.idea/
.vscode/

# Python
__pycache__/
*.pyc
venv/
.venv/

# Secrets & Config (DO NOT PUSH)
.env
config.json
trades.json
bot.log
bot.err
vps/deploy.zip

# System
.DS_Store
Thumbs.db
